@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
    h1 {
        @apply text-4xl sm:text-5xl font-extrabold text-primary-500;
    }

    h2 {
        @apply text-3xl sm:text-4xl font-extrabold text-primary-500 ;
    }

    h3 {
        @apply text-2xl sm:text-3xl font-extrabold text-primary-500 ;
    }

    h4 {
        @apply text-xl sm:text-2xl font-extrabold text-primary-500 ;
    }

    h5 {
        @apply text-lg sm:text-xl font-extrabold text-primary-500 ;
    }

    h6 {
        @apply sm:text-lg font-extrabold text-primary-500 ;
    }

    li {
        @apply list-disc list-inside;
    }

    a {
        @apply font-medium text-accent-500 hover:underline;
    }

    @font-face {
        font-family: 'SeccaKjG';
        src: font-url('fonts/SeccaKjG-Rg.ttf');
        src: font-url('fonts/SeccaKjG-It.ttf');
        src: font-url('fonts/SeccaKjG-Bd.ttf');
        src: font-url('fonts/SeccaKjG-Bd-It.ttf');
    }
}

@layer components {
    #consent-notice {
        @apply bg-secondary-500 text-white text-center fixed bottom-0 w-full p-4 hidden;
    }

    #consent-notice button.manage-consent {
        @apply text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2   
    }

    #consent-notice button.approve-consent {
        @apply text-white bg-success-500 hover:bg-success-600 focus:outline-none focus:ring-4 focus:ring-success-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2   
    }

    #consent-notice button.deny-consent {
        @apply text-white bg-error-500 hover:bg-error-600 focus:outline-none focus:ring-4 focus:ring-error-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2   
    }

    #consent-overlay {
        @apply flex items-center justify-center fixed left-0 top-0 w-full h-full bg-black bg-opacity-75 z-50 overflow-auto hidden;
    }

    #consent-overlay.active {
        @apply flex items-center justify-center fixed left-0 top-0 w-full h-full bg-black bg-opacity-75 z-50 overflow-auto;
    }

    #consent-overlay>div {
        @apply bg-white rounded-lg shadow-lg w-11/12 md:w-1/2 lg:w-1/3;
        max-width: 30rem;
        padding: 1.75rem;
        margin: auto;
        cursor: initial;
    }

    #consent-overlay>div>div {
        display: flex;
        align-items: flex-start;
    }

    #consent-overlay>div>div:last-child {
        margin: 0;
    }

    #consent-overlay h3 {
        padding-top: 0;
    }

    #consent-overlay input {
        margin-top: 0.3rem;
    }

    #consent-overlay label {
        display: block;
    }

    #consent-overlay button.save-consent {
        @apply text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2   
    }

    #consent-overlay button.approve-consent {
        @apply text-white bg-success-500 hover:bg-success-600 focus:outline-none focus:ring-4 focus:ring-success-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2   
    }
}