<footer class="p-4 text-white bg-gradient-to-t from-secondary-500 to-primary-500 sm:p-6">
    <div class="max-w-screen-xl mx-auto">
        <div class="md:flex md:justify-between">
            <div class="mb-6 md:mb-0">
                <a href="{{.Site.BaseURL}}" class="flex items-center">
                    <img src="/images/seelenbohrer.svg" class="h-8 mr-3" alt="Seelenbohrer" />
                    <span class="self-center text-2xl font-semibold text-white whitespace-nowrap">{{
                        .Site.Title}}</span>
                </a>
            </div>
            {{/*  <div class="w-50">
                <p>Diese Website ist durch <a href="https://www.hCaptcha.com">hCaptcha</a> geschützt und es gelten dessen
                    <a href="https://www.hcaptcha.com/privacy">Datenschutzbestimmungen</a> und
                    <a href="https://www.hcaptcha.com/terms">Nutzungsbedingungen</a></p>
            </div>  */}}
            <div class="grid grid-cols-2 sm:grid-cols-3 gap-8 sm:gap-6d text-sm">
                <div>
                    <h2 class="py-0 mb-2 text-sm font-semibold text-white uppercase">Folge uns</h2>
                    <ul class="text-gray-600 space-y-2">
                        <li class="list-none">
                            <a href="https://www.facebook.com/kjg.dossenheim/" class="hover:underline text-white" target="_blank">Facebook</a>
                        </li>
                        <li class="list-none">
                            <a href="https://www.instagram.com/kjg.dossenheim/" class="hover:underline text-white" target="_blank">Instagram</a>
                        </li>
                        <li class="list-none">
                            <a href="https://whatsapp.com/channel/0029VaDWauKIyPtOOGIy2i1M" class="hover:underline text-white" target="_blank">WhatsApp</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h2 class="py-0 mb-2 text-sm font-semibold text-white uppercase">Kontakt</h2>
                    <ul class="text-gray-600 space-y-2">
                        <li class="list-none">
                            <a href="tel:072161906054" class="hover:underline text-white">E-Mail</a>
                        </li>
                        <li class="list-none">
                            <a href="mailto:kontakt@kjg-dossenheim.org" class="hover:underline text-white">Telefon</a>
                        </li>
                        <li class="list-none">
                            <a href="https://wa.me/4972161906054" class="hover:underline text-white">WhatsApp</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h2 class="py-0 mb-2 text-sm font-semibold text-white uppercase">Rechtliches</h2>
                    <ul class="text-gray-600 space-y-2">
                        <li class="list-none">
                            <a href="{{.Site.BaseURL}}/agb/" class="hover:underline text-white">AGB</a>
                        </li>
                        <li class="list-none">
                            <a href="{{.Site.BaseURL}}/datenschutz/" class="hover:underline text-white">Datenschutz</a>
                        </li>
                        <li class="list-none">
                            <a href="{{.Site.BaseURL}}/impressum/" class="hover:underline text-white">Impressum</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <hr class="my-6 sm:mx-auto lg:my-8" />
        <div class="sm:flex sm:items-center sm:justify-between">
            <span class="text-sm sm:text-center">© {{ now.Year }} <a
                    href="{{.Site.BaseURL}}" class="hover:underline text-white">{{ .Site.Title}}</a>. All Rights Reserved.
            </span>
        </div>
    </div>
</footer>