<footer class="p-4 text-white bg-primary-500 sm:p-6 dark:bg-gray-800">
    <div class="max-w-screen-xl mx-auto">
        <div class="md:flex md:justify-between">
            <div class="mb-6 md:mb-0">
                <a href="{{.Site.BaseURL}}" class="flex items-center">
                    <img src="/images/seelenbohrer.svg" class="h-8 mr-3" alt="Seelenbohrer" />
                    <span class="self-center text-2xl font-semibold text-white whitespace-nowrap">{{
                        .Site.Title}}</span>
                </a>
            </div>
            <div class="grid grid-cols-2 gap-8 sm:gap-6d text-sm">
                <div>
                    <h2 class="py-0 mb-2 text-sm font-semibold text-white uppercase">Folge uns</h2>
                    <ul class="text-gray-600 dark:text-gray-400 space-y-2">
                        <li class="list-none">
                            <a href="https://www.facebook.com/kjg.dossenheim/" class="hover:underline" target="_blank">Facebook</a>
                        </li>
                        <li class="list-none">
                            <a href="https://www.instagram.com/kjg.dossenheim/" class="hover:underline" target="_blank">Instagram</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h2 class="py-0 mb-2 text-sm font-semibold text-white uppercase">Rechtliches</h2>
                    <ul class="text-gray-600 dark:text-gray-400 space-y-2">
                        <li class="list-none">
                            <a href="{{.Site.BaseURL}}/agb/" class="hover:underline" target="_blank">AGB</a>
                        </li>
                        <li class="list-none">
                            <a href="{{.Site.BaseURL}}/datenschutz/" class="hover:underline" target="_blank">Datenschutz</a>
                        </li>
                        <li class="list-none">
                            <a href="{{.Site.BaseURL}}/impressum/" class="hover:underline" target="_blank">Impressum</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <hr class="my-6 sm:mx-auto lg:my-8" />
        <div class="sm:flex sm:items-center sm:justify-between">
            <span class="text-sm sm:text-center dark:text-gray-400">© {{ now.Year }} <a
                    href="{{.Site.BaseURL}}" class="hover:underline">{{ .Site.Title}}</a>. All Rights Reserved.
            </span>
        </div>
    </div>
</footer>