<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .Title }}</title>
    <!-- resources.Get "style.css" will fetch the style.css file. 
    It will not work if you mention the exact location like "./assets/style.css".-->
    {{ $style := resources.Get "style.css" }}    
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    <link rel="stylesheet" type="text/css" href="https://pretix.kjg-dossenheim.org/kjg-dossenheim/freizeit-2023/widget/v1.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.js"></script>
    <script type="text/javascript" src="https://pretix.kjg-dossenheim.org/widget/v1.de.js" async></script>
    <link rel="icon" type="image/svg+xml" href="/images/favicon.svg">
</head>