<nav class="bg-gradient-to-b from-secondary-500 to-primary-500 border-gray-200 px-4 lg:px-6 py-2.5 h-content shadow-2xl">
  <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
    <a href="{{.Site.BaseURL}}" class="flex items-center text-white">
      <img src="/images/seelenbohrer.svg" class="h-6 mr-3 sm:h-9 md:block" alt="Seelenbohrer" />
      <span class="self-center text-xl font-semibold whitespace-nowrap">{{ .Site.Title }}</span>
    </a>
    <button data-collapse-toggle="mega-menu-full" type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-white rounded-lg md:hidden hover:text-primary-500 hover:bg-white focus:outline-none focus:ring-2 focus:ring-gray-200   "
      aria-controls="mega-menu-full" aria-expanded="true">
      <span class="sr-only">Open main menu</span>
      <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15" />
      </svg>
    </button>
    <div id="mega-menu-full"
      class="items-center justify-between font-medium hidden w-full md:flex md:w-auto md:order-1 ">
      <ul
        class="flex flex-col md:p-0 mt-4 md:flex-row md:space-x-8 md:mt-0 text-white">
        {{ range .Site.Menus.main }}
        {{ if .HasChildren }}
        <li class="list-none break-normal">
          <button id="mega-menu-full-dropdown-button" data-collapse-toggle="mega-menu-full-dropdown"
            class="flex items-center justify-between w-full py-2 pl-3 pr-4 font-medium">{{
            .Name }} <svg class="w-2.5 h-2.5 ml-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
              viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="m1 1 4 4 4-4" />
            </svg></button>
        </li>
        {{else}}
        <li class="list-none">
          {{ .Pre }}
          <a href="{{.URL}}"
            class="block py-2 pl-3 pr-4 text-white font-medium"
            aria-current="page">{{ .Name }}</a>
            {{ .Post }}
        </li>
        {{end}}
        {{end}}
      </ul>
    </div>
  </div>
  <div id="mega-menu-full-dropdown" class="mt-3 hidden">
    <div class="max-w-screen-xl p-2 mx-auto bg-gradient-to-b from-secondary-500 to-secondary-700 rounded-xl border-0">
      <div class="flex flex-col md:flex-row items-center justify-evenly">
        <div class="w-full min-w-fit text-white bg-primary-500 p-2 rounded-xl">
          <a href="/aktionen/" class="block text-white">
            <div class="font-medium md:text-center whitespace-nowrap">Jahresplan</div>
          </a>
        </div>
        {{ range .Site.Menus.main }}
        {{ if .HasChildren }}
        {{ range .Children }}
        <div class="w-full text-white">
          <a href="{{.URL}}" class="block p-2 w-full text-white">
            <div class="font-medium md:text-center whitespace-nowrap">{{ .Name }}</div>
          </a>
        </div>
        {{end}}
        {{end}}
        {{end}}
      </div>
    </div>
  </div>
</nav>