<div class="card bg-primary text-primary-content max-w-fit">
    <div class="card-body">
        <form method="post" action="https://news.kjg-dossenheim.org/subscription/form" class="listmonk-form">
            <div>
                <h2 class="card-title">Anmelden</h2>
                <input type="hidden" name="nonce" />
                <p class="p-2"><input type="email" name="email" required placeholder="E-Mail"
                        class="input w-full max-w-xs" /></p>
                <p class="p-2"><input type="text" name="name" placeholder="Name (optional)"
                        class="input w-full max-w-xs" /></p>
                <p class="p-2">
                    <input id="c9dfe" type="checkbox" name="l" checked value="c9dfef9a-8fbb-4f4d-aa9a-50f79691454a"
                        class="checkbox" />
                    <label for="c9dfe">Sommerfreizeit</label>
                </p>
                <div class="card-actions justify-end">
                    <button class="btn">
                        <input type="submit" value="Abonnieren" />
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>