<section class="mb-32 text-center text-gray-800 md:text-left">

    <div class="block bg-white rounded-lg shadow-lg">
        <div class="flex flex-wrap items-center">
            <div class="block w-full grow-0 shrink-0 basis-auto lg:flex md:w-4/12">
                <img src="https://mdbootstrap.com/img/new/ecommerce/vertical/097.jpg" alt="Trendy Pants and Shoes"
                    class="w-full rounded-t-lg md:rounded-tr-none md:rounded-bl-lg" />
            </div>
            <div class="w-full grow-0 shrink-0 basis-auto md:w-8/12">
                <div class="px-6 py-12 md:px-12">
                    {{ .Inner | markdownify }}
                </div>
            </div>
        </div>
    </div>

</section>